
.item{
    box-shadow: 0 0 3px rgb(53, 46, 46);
    padding: 15px;
    margin-top: 20px;
}
.item .name{
    color: tomato;
    font-size: 20px;
}
.item .price{
    text-align: center;
    color: rgba(0, 0, 0, 0.699);
    font-size: 20px;   
}
.item button{
    background-color: rgb(30,216,30) !important;
    color:white !important;
}